/libEDSsharp/obj
/libEDSsharp/bin
/EDSEditorGUI/obj
/EDSEditorGUI/bin
/Cia306Tester/obj
/libEDSsharp/bin
/*.suo
/libEDSsharp/obj
/EDSEditorGUI/obj/Release
/EDSEditorGUI/bin/Release
/.vs/EDSEditorGUI/v14/*.suo
/.vs/EDSEditor/v14/*.suo
edseditor-Setup.exe
/Tests/bin
/Tests/obj
*.exe
/.vs
*.suo
/EDSSharp/bin/Debug
/EDSSharp/obj
/EDSSharp/bin/Release
/EDSEditorGUI/bin/*.zip
/Backup
/SourceGrid_4.21
/packages/
