/libEDSsharp/obj
/libEDSsharp/bin
/EDSTest/obj
/EDSTest/bin
/Cia306Tester/obj
/libEDSsharp/bin
/*.suo
/libEDSsharp/obj
/EDSTest/obj/Release
/EDSTest/bin/Release
/.vs/EDSTest/v14/*.suo
/.vs/EDSEditor/v14/*.suo
edseditor-Setup.exe
/Tests/bin
/Tests/obj
*.exe
/.vs
*.suo
/EDSSharp/bin/Debug
/EDSSharp/obj
/EDSSharp/bin/Release
/EDSTest/bin/*.zip
/Backup
/SourceGrid_4.21
/packages/
