/libEDSsharp/obj/Debug
/EDSTest/obj/Debug
/EDSTest/bin/Debug
/Cia306Tester/obj/Debug
/libEDSsharp/bin/Debug
/*.suo
/libEDSsharp/obj/Release
/EDSTest/obj/Release
/EDSTest/bin/Release
/libEDSsharp/bin/Release
/.vs/EDSTest/v14/*.suo
/.vs/EDSEditor/v14/*.suo
edseditor-Setup.exe
